* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

header {
    height: 5rem;
    background-color: gold;
    color: #05445E;
    font-size: 2rem;
    font-family: rubik, sans-serif;
    align-items: center;
    text-align: center;
}

body {
    background-color: #05445E;
}

.choices {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
  
.choice {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 7.5rem;
    transition: 200ms;
}

.choice:hover {
    transform: scale(1.25);
}

h2 {
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    margin-top: 0.5rem;
    color: #b43218;
}

.score-board {
    border: 3px solid gold;
    margin: 20px auto;
    width: 250px;
    text-align: center;
}

.badge {
    color: gold;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 3rem;
    text-align: center;
    
}






