* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

header {
    height: 5rem;
    background-color: gold;
    color: #05445E;
    font-size: 2rem;
    font-family: rubik, sans-serif;
    align-items: center;
    text-align: center;
}

body {
    background-color: #05445E;
}

.choices {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
  
.choice {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 7.5rem;
    transition: 200ms;
}

.choice:hover {
    transform: scale(1.25);
}

.choice:active {
    transform: translateY(2px);
  }

h2 {
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: aliceblue;
}

.score-board {
    border: 3px solid gold;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px 20px;
    width: 250px;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    color: gold;
    position: relative; 
}

.badge {
    background: gold;
    font-size: 1.25rem;
    font-weight: bold;
    color: #05445E;
    padding: 4px 8px; 
}

#user-label {
    position: absolute;
    top: -10px;
    left: 25px;
}

#computer-label {
    position: absolute;
    top: -10px;
    right: 25px;
}

.result-figure {
    font-size: 4rem;
    letter-spacing: 10px;
}

.game-result {
    font-size: 2.5rem;
    color: aliceblue;
    font-family: rubik, sans-serif;
    text-align: center;
    margin: 10px; 
}

.restart {
    background-color: gold;
    color: #05445E;
    border-color: #05445E;
    display: none;
    width: 5rem;
    height: 2.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-family: rubik, sans-serif;
    border-radius: 10px;
    cursor: pointer;
}


@media (max-width: 1024px) {}

@media (max-width: 768px) {

    header {
        height: 3rem;
        font-size: 1.25rem;
    }

    .choice {
        font-size: 6rem;
    }
}

@media (max-width: 425px) {
    header {
        height: 2.5rem;
        font-size: 1rem;
    }
    
    .choice {
        font-size: 5rem;
    }

    .game-result {
        font-size: 1.5rem;
    }
}

@media (max-width: 375px) {
    header {
        height: 2rem;
        font-size: 0.8rem;
    }
    .choice {
        font-size: 4.5rem;
    }
}





